.routingError {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.routingError h1 {
  font-size: 2rem;
}

.routingError p {
  font-size: 1.5rem;
  color: rgb(73, 73, 73);
}
