.authorName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  font-family: "Newsreader";
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
}

.dash {
  border-top: 2px solid var(--secondary-background-color);
  opacity: 0.3;
  width: 2em;
  font-style: italic;
  display: inline-block;
}
