.articleSection {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: "Newsreader", "Work Sans", sans-serif;
}

.articleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 4rem;
}

.articleContainer > div {
  max-width: 650px;
  min-width: 0;
}

.articleContainer hr {
  margin: 2rem 0;
}

.articleContainer {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.4em;
  }
}

.articleSection pre {
  max-width: 100%;
  overflow-x: auto;

  font-size: 0.8em;
  margin-bottom: 0.5rem;
}

.articleSection pre code {
  color: black;
  background-color: var(--background-darker);
  overflow: auto;
}

@media (max-width: 425px) {
  .articleSection {
    font-size: 1rem;
  }
}
