.articleSection {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.articleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.articleContainer > div {
  max-width: 650px;
}

.articleContainer hr {
  margin: 2rem 0;
}

.articleContainer {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.4em;
  }
}
