.alertBox {
  display: flex;
  gap: 0.7rem;
  color: white;
  position: absolute;
  opacity: 0.9;
  padding: 1rem;

  position: fixed;
  top: 10px;
  left: 10px;

  z-index: 1000;
}

.closeButton {
  border: none;
  background: none;
  color: white;
  opacity: 0.6;
  cursor: pointer;
  padding: 0;
}

.closeButton:focus-visible {
  outline-color: red;
}

.closeButton:hover {
  opacity: 1;
}
