@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*  Josh Comeau's CSS reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Work Sans";
  overflow-x: auto;
}

.pageContainer {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem 5rem 1.5rem;
}

:root {
  --primary-color: #c05746;
  --primary-variant: #80281b;
  --secondary-color: #8da189;
  --tertiary-color: #2c2c2c;
  --background-color: #f4ece1;
  --background-darker: #e1d9ce;
  --secondary-background-color: #2c1e1a;

  /* Alert Colors */
  --alert-error: rgb(124, 37, 37);
  --alert-success: rgb(37, 102, 46);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  scrollbar-width: thin;
  scrollbar-color: var(--tertiary-color) var(--background-darker);
}

body::selection {
  background-color: var(--primary-color);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-darker);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-variant);
}

hr {
  border: none;
  border-top: 1px solid var(--background-darker);
  margin-bottom: 4rem;
}

.mdxeditor-root-contenteditable > div:first-child {
  border-bottom: 1px solid var(--secondary-background-color);
}

/* .mdxeditor-root-contenteditable > div:has(p:empty) {
  display: none;
} */
